* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: rgb(236, 236, 253);
  font-family: sans-serif;
}

:root {
  --main-color: #0046be;
}

/* //////// nav sec //////////// */

.nav-sec {
  display: flex;
  justify-content: space-between;
  padding: 15px 15%;
  background-color: var(--main-color);
  height: 70px;
}

.nav-sec > div {
  width: 50%;
}

.nav-sec > div > a > img {
  width: auto;
  height: 100%;
}

.back-sec {
  display: flex;
  justify-content: right;
  align-items: center;
}

.back-sec > a {
  color: white;
  text-decoration: none;
  font-size: 14px;
}

/* /////////// signup sec ////////////// */

.container {
  width: 400px;
  margin: auto;
  background-color: white;
  margin-top: 30px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 25px;
}

.container > h3 {
  text-align: center;
  margin-bottom: 15px;
}

.container > p:nth-child(2) {
  text-align: center;
  font-size: 13px;
  margin-bottom: 25px;
}

.container > p:nth-child(2) > span {
  color: var(--main-color);
  text-decoration: underline;
}

.container > p:nth-child(2) > span:hover {
  color: black;
  cursor: pointer;
}

input {
  width: 100%;
  font-size: 15px;
  padding: 15px;
  border: 1px solid gray;
  border-radius: 5px;
  margin-bottom: 25px;
}

input::placeholder {
  font-weight: bold;
}

.container > div:nth-child(9),
.container > div:nth-child(10) {
  display: flex;
  align-items: center;
  justify-content: right;
}

#hiding {
  display: none;
}

.password-img {
  width: 20px;
  cursor: pointer;
  margin-right: 10px;
}

#create-account {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  color: white;
  background-color: var(--main-color);
  border: none;
  border-radius: 5px;
}

#create-account:hover {
  cursor: pointer;
  background-color: #002b75;
}

#with-google {
  width: 100%;
  padding: 15px;
  font-size: 15px;
  font-weight: bold;
  color: var(--main-color);
  background-color: white;
  border: 1px solid #002b75;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#with-google:hover {
  cursor: pointer;
  background-color: #002b75;
  color: white;
}

#google-img {
  width: 15px;
  margin-right: 10px;
}

#or {
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid rgb(174, 174, 197);
  margin: 20px 0px;
  line-height: 0.1em;
}

#or span {
  color: black;
  text-decoration: none;
  background-color: white;
  padding: 0px 10px;
}

#checkbox {
  display: flex;
  justify-content: left;
  align-items: center;
}

#checkbox > label > input {
  width: 30px;
}

#info-img {
  width: 22px;
  cursor: pointer;
  margin-bottom: 20px;
}

.form-term > span,
.signin > a {
  color: var(--main-color);
}

.form-term > span:hover,
.signin > a:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.form-term {
  font-size: small;
  margin: 10px 0px;
}

.signin {
  font-size: 14px;
  font-weight: bold;
  margin-top: 10px;
}

/* ////////// footer sec ///////// */

.footer-sec {
  background-color: white;
  padding: 20px 15%;
  margin-top: 80px;
}

.footer-sec > p {
  font-size: small;
  margin-bottom: 10px;
}

.footer-sec > p > span {
  color: var(--main-color);
}

.footer-sec > p > span:hover {
  color: black;
  cursor: pointer;
  text-decoration: underline;
}

.footer-sec > p:nth-child(1) > span:nth-child(1),
.footer-sec > p:nth-child(1) > span:nth-child(2) {
  border-right: 1px solid rgb(202, 202, 231);
  padding-right: 10px;
}

.footer-sec > p:nth-child(1) > span:nth-child(2),
.footer-sec > p:nth-child(1) > span:nth-child(3) {
  padding-left: 10px;
}
