#navbar{
    position:relative;
    color: white;
    background-color:#0046be;
   
    -webkit-font-smoothing: antialiased;
   
    font-family:sans-serif;
    font-size: 13px;
    height: auto;
    margin:-10px;
    
}
#one{
    width: 2.5rem;
    cursor: pointer;
}
#first{
    display: grid;
    grid-template-columns:75% 40%;
    height: 2rem;
    gap: 10%;
    padding-top: 8px;
}

#a{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
    margin-left: 20px;
    align-items: center;
    
}
#a>div{
    margin-left: -40%;
}
#a>input{
    margin-left: -70%;
    position:relative;
}

#b{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    display: grid;
    align-items: center;
    /* margin-left: 1rem; */
    width: 40%;
    margin-left: -20px;
    
}
#c{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    cursor: pointer;
}
#c>div{
    margin-left:-30% ;
}

#cart_logo{
    width: 1.5em;
}

hr{
    position:relative;
    color: aliceblue;
    margin-top: 1em;
    size: 0.5em;;
}
#store{
    width: 1.5em;
}
#g{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    cursor: pointer;
}
#g>div{
    margin-left:-20% ;
}
#micro{
position:absolute ;
left: 55%;
cursor: pointer;
}
#second{
box-sizing: border-box;
display: grid;
grid-template-columns: 70% 30%;
font-size: 8px;
margin-left: 12px;
}
#second-first{
display: flex;
margin: 10px;
gap: 12px;

}
#second-last{
display: flex;
margin: 10px;
gap: 15px;
margin-left: -70px;
}
.dropdown {
position: relative;
display: inline-block;

}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
color: #0046be;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

padding: 12px 16px;
z-index: 1;
font-size: 12px;

}
/* p{
border-bottom: 1px solid lightskyblue;
} */
p:last-child{
border-bottom: none;
}

.dropdown:hover .dropdown-content {
display: block;


}
#second .fa{
margin-right: 6px;
margin-left: 6px;
} 
a{
text-decoration: none;
color: white;
}
a:hover{
text-decoration-line: underline;
}
.btn{
text-align: center;
box-sizing: border-box;
width: 100%;
font-size:8px;
margin-bottom: 8px;
border:1px solid #0046be;
color:#0046be;
padding: 4px;
border-radius: 5px;
}
#dark{
background-color:blue;
border: none;
color: white;
}
.btn:hover,#dark:hover{
background-color: darkblue;
color: white;
}
.blue{
color: #0046be;
}
#para{
text-align: center;
font-size: 8px;
border-bottom: none;
color: black;
}
#scroll{
height: 250px;
overflow-y: scroll;
}

.h{
display: none;
position: absolute;
background-color:white;
color: #0046be;
min-width: 460px;
height: 210px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

padding: 12px 16px;
z-index: 1;
font-size: 12px;
right: 0;
left: auto;
}
.dropdown:hover .h{
display: block;
}
.up{
display: grid;
grid-template-columns: repeat(4,1fr) ;
width: 170%;
justify-content: center;

}


#i,#t{
margin-left: -210px;
align-items: center;
font-size: 8px;
margin-top: 15px;

}
#j{
margin-left: -150px;
}

#k{
font-size: large;
margin-left:140px;
margin-top: 50px;
}
.l{
display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: space-between;
}
.m{
font-size: 15px;
color: black;
}
.line,.line1{
border-left: 1px solid #0046be;
height: 20px;
width: 0px;
margin-top: 10px;
margin-left: -30px;
}
#n{
margin-left: 210px;
}
#down{
display: flex;
color: black;
}
#q{
border: none;
font-size: 8px;
text-align: center;
}
#p{
text-align: center;
width: 50%;
margin: auto;
margin-top: 50px;
}
#r{
box-sizing: border-box;
width: 69%;
margin-left: 45px;
font-size: 8px;
padding: 3px;
background-color: #0046be;
border: none;
border-radius: 3px;
color: white;
}
#r:hover{
background-color: darkblue;
}
.s{
width:40%;

}
.down-second{
margin-top: 58px;

}
.o{
display: grid;
grid-template-columns:repeat(4,1fr) ;
width: 170%;
justify-content: center;
}
#t{
margin-left: -245px;
}
#u{
margin-left: -150px;
}
.line1{
margin-left: -60px;
}
#t,.w{
border: none;
}
#v{
width: 58%;
margin: auto;
margin-top:40px ;
}
.w{
font-size: 8px;
width: 55%;
margin: auto;
margin-top: 10px;
}
.x{
width: 43%;
}
input::-webkit-input-placeholder {
font-size: 10px;
line-height: 3;
}