
body{
    margin: 0;
}
#navbar{
    
    position:relative;
    color: white;
    background-color:#0046be;
   
    -webkit-font-smoothing: antialiased;
   
    font-family:sans-serif;
    font-size: 13px;
    height: 150px;
    /* margin:-10px; */
    
}
#one{
    
    width: 35%;
    cursor: pointer;
}
#first{
    display: grid;
    grid-template-columns:75% 40%;
    height: 50%;
    gap: 10%;
    padding-top: 8px;
}

#a{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
    margin-left: 20px;
    align-items: center;
    
}
#a>div{
    margin-left: -40%;
    font-size: 20px;
}
#a>input{
    margin-left: -70%;
    position:relative;
    height: 40%;
    padding-left: 15px;
    width: 200%;
    border-radius: 10px;
}

#b{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    display: grid;
    align-items: center;
    /* margin-left: 1rem; */
    width: 40%;
    margin-left: -20px;
    
}
#c{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    cursor: pointer;
    font-size: 1.8em;
}
#c>div{
    margin-left:-30% ;
}

#cart_logo{
    width: 1.5em;
}

hr{
    position:relative;
    color: aliceblue;
    margin-top: 1em;
    size: 0.5em;;
}
#store{
    width: 1.2em;
    
}
#g{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    cursor: pointer;
    font-size: 2em;
}
#g>div{
    margin-left:-20% ;
}
#micro{
position:absolute ;
left: 60%;
cursor: pointer;
}
#second{
box-sizing: border-box;
display: grid;
/* justify-content: space-around; */
font-size: 1em;
margin-top: 10px;
/* margin: auto; */
margin-left: 1%;
}
#second-first{
display: flex;
margin: 10px;
gap: 2.5%;

}
/* #second-last{
display: flex;
margin: 10px;
gap: 15px;
margin-left: -50px;
} */
.dropdown {
position: relative;
display: inline-block;

}

.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
color: #0046be;
min-width: 300px;
height: 200px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

padding: 12px 16px;
z-index: 1;
font-size: 18px;
bottom: auto;

}
.underline{
border-bottom: 1px solid lightskyblue;
}
.underline:last-child{
border-bottom: none;
}

.dropdown:hover .dropdown-content {
display: block;


}
#second .fa{
margin-right: 6px;
margin-left: 6px;
} 
a{
text-decoration: none;
color: white;
}
a:hover{
text-decoration-line: underline;
}
.btn{
text-align: center;
box-sizing: border-box;
width: 100%;
font-size:12px;
margin-bottom: 8px;
border:1px solid #0046be;
color:#0046be;
padding: 7px;
border-radius: 5px;
}
#dark{
background-color:blue;
border: none;
color: white;
cursor: pointer;
}
.btn{
    cursor:pointer
}
.btn:hover,#dark:hover{
background-color: darkblue;
color: white;
}
.blue{
color: #0046be;
}
#para{
text-align: center;
font-size: 10px;
border-bottom: none;
color: black;
}
#scroll{
height: 350px;
overflow-y: scroll;

}
#nairobi~p{
    margin-bottom: 20px;
}
#hiho>p{
    margin-bottom: 20px;
}
#lilo>p{
    margin-bottom: 20px; 
}

.h{
display: none;
position: absolute;
background-color:white;
color: #0046be;
min-width: 960px;
height: 410px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

padding: 12px 16px;
z-index: 1;
font-size: 12px;
right: 0;
left: auto;
}
.dropdown:hover .h{
display: block;
}
.up{
display: grid;
grid-template-columns: repeat(4,1fr) ;
width: 170%;
justify-content: center;
margin-top: 20px;

}


#i,#t{
margin-left: -140%;
/* align-items: center; */
font-size: 12px;
margin-top: 15px;

}
#j{
margin-left:-300px;
}

#k{
font-size: 3em;
margin-left:250px;
margin-top: 100px;
color: black;
}
.l{
display: grid;
grid-template-columns: repeat(2,1fr);
justify-content: space-between;
}
.m{
font-size: 18px;
color: black;
}
.line,.line1{
border-left: 1px solid #0046be;
height: 30px;
width: 0px;
margin-top: 10px;
margin-left: -190px;
}
#n{
margin-left: 90%;
}
#down{
display: flex;
color: black;
margin-left: 15%;
margin-top: 75px;

}
#q{
border: none;
font-size: 15px;
margin-top: 25px;

}
#p1{
margin-top: 25px;
font-size: 38px;
width: 60%;
}
#r{
box-sizing: border-box;
width: 60%;
margin-top: 25px;
font-size: 12px;
padding: 5px;
background-color: #0046be;
border: none;
border-radius: 3px;
color: white;

}
#r:hover{
background-color: darkblue;
}
.s{
width:80%;


}

.down-second{
/* margin-top: 58px; */
margin-left: -30%;

}
.o{
display: grid;
grid-template-columns:repeat(4,1fr) ;
width: 170%;
justify-content: center;
}
#t{
margin-left: -155%;
}
#u{
margin-left: -75%;
}
.line1{
margin-left: -60%;
}
#t,.w{
border: none;
}
#v{
width: 58%;
margin: auto;
margin-top:40px ;
font-size: 30px;
}
#w1,#w2{
font-size: 12px;
width: 55%;
margin: auto;
margin-top: 10px;
border-bottom: 0;
}
.x{
width: 82%;
margin-left: -50%;
}
/* .down-first2{
margin-top: %;
} */
input::-webkit-input-placeholder {
font-size: 15px;
line-height: 3;
}



@media screen and (min-width:651px) and (max-width:1024px){
   
    .dropdown {
        position: relative;
        display: inline-block;
        
        }
        
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        color: #0046be;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
        padding: 12px 16px;
        z-index: 1;
        font-size: 12px;
        
        }
        p{
        border-bottom: 1px solid lightskyblue;
        }
        p:last-child{
        border-bottom: none;
        }
        
        .dropdown:hover .dropdown-content {
        display: block;
        
        
        }
        #second .fa{
        margin-right: 6px;
        margin-left: 6px;
        } 
        a{
        text-decoration: none;
        color: white;
        }
        a:hover{
        text-decoration-line: underline;
        }
        .btn{
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        font-size:8px;
        margin-bottom: 8px;
        border:1px solid #0046be;
        color:#0046be;
        padding: 4px;
        border-radius: 5px;
        }
        #dark{
        background-color:blue;
        border: none;
        color: white;
        }
        .btn:hover,#dark:hover{
        background-color: darkblue;
        color: white;
        }
        .blue{
        color: #0046be;
        }
        #para{
        text-align: center;
        font-size: 8px;
        border-bottom: none;
        color: black;
        }
        #scroll{
        height: 250px;
        overflow-y: scroll;
        }
        
        .h{
        display: none;
        position: absolute;
        background-color:white;
        color: #0046be;
        min-width: 460px;
        height: 210px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
        padding: 12px 16px;
        z-index: 1;
        font-size: 12px;
        right: 0;
        left: auto;
        }
        .dropdown:hover .h{
        display: block;
        }
        .up{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        width: 170%;
        justify-content: center;
        
        }
        
        
        #i,#t{
        margin-left: -210px;
        align-items: center;
        font-size: 8px;
        margin-top: 15px;
        
        }
        #j{
        margin-left: -150px;
        }
        
        #k{
        font-size: large;
        margin-left:140px;
        margin-top: 50px;
        }
        .l{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        }
        .m{
        font-size: 15px;
        color: black;
        }
        .line,.line1{
        border-left: 1px solid #0046be;
        height: 20px;
        width: 0px;
        margin-top: 10px;
        margin-left: -30px;
        }
        #n{
        margin-left: 210px;
        }
        #down{
        display: flex;
        color: black;
        }
        #q{
        border: none;
        font-size: 8px;
        text-align: center;
        }
        #p{
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 50px;
        }
        #r{
        box-sizing: border-box;
        width: 69%;
        margin-left: 45px;
        font-size: 8px;
        padding: 3px;
        background-color: #0046be;
        border: none;
        border-radius: 3px;
        color: white;
        }
        #r:hover{
        background-color: darkblue;
        }
        .s{
        width:40%;
        
        }
        .down-second{
        margin-top: 58px;
        
        }
        .o{
        display: grid;
        grid-template-columns:repeat(4,1fr) ;
        width: 170%;
        justify-content: center;
        }
        #t{
        margin-left: -245px;
        }
        #u{
        margin-left: -150px;
        }
        .line1{
        margin-left: -60px;
        }
        #t,.w{
        border: none;
        }
        #v{
        width: 58%;
        margin: auto;
        margin-top:40px ;
        }
        .w{
        font-size: 8px;
        width: 55%;
        margin: auto;
        margin-top: 10px;
        }
        .x{
        width: 43%;
        }

        #second{
            box-sizing: border-box;
            display: grid;
            /* justify-content: space-around; */
            font-size: .7rem;
            margin: auto;
            /* margin-left: 1%; */
            }
            #second-first{
            display: flex;
            margin: 10px;
            gap: 1%;
            font-size:1.2ch;

            }
            #b{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                display: grid;
                align-items: center;
                /* margin-left: 1rem; */
                width: 0%;
                margin-left: -60px;
                gap: 10px;
                
            }
            #c{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                cursor: pointer;
                font-size: 1rem;
            }
            #c>div{
                margin-left:2% ;
                font-weight: bold;
            }
            
            #cart_logo{
                width: 1em;
            }
            #store{
                width: 1.2em;
                
            }
            #g{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
            }
            #g>div{
                margin-left:0% ;
            }
            #micro{
            position:absolute ;
            left: 60%;
            cursor: pointer;
            }
            #a>div{
                margin-left: -20%;
                font-size: 15px;
            }
            #a>input{
                margin-left: -40%;
                position:relative;
                height: 40%;
                width: 200%;
                border-radius: 10px;
            }
            #one{
                width: 70%;
            }
            #micro{
                position:absolute ;
                left: 64%;
                cursor: pointer;
            }
            #scroll{
                height: 360px;
                overflow-y: scroll;
                }
                
        

  
}
@media screen and (min-width:320px) and (max-width:650px){
    .dropdown {
        position: relative;
        display: inline-block;
        
        }
        
        .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        color: #0046be;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
        padding: 12px 16px;
        z-index: 1;
        font-size: 12px;
        
        }
        p{
        border-bottom: 1px solid lightskyblue;
        }
        p:last-child{
        border-bottom: none;
        }
        
        .dropdown:hover .dropdown-content {
        display: block;
        
        
        }
        #second .fa{
        margin-right: 6px;
        margin-left: 6px;
        } 
        a{
        text-decoration: none;
        color: white;
        }
        a:hover{
        text-decoration-line: underline;
        }
        .btn{
        text-align: center;
        box-sizing: border-box;
        width: 100%;
        font-size:8px;
        margin-bottom: 8px;
        border:1px solid #0046be;
        color:#0046be;
        padding: 4px;
        border-radius: 5px;
        }
        #dark{
        background-color:blue;
        border: none;
        color: white;
        }
        .btn:hover,#dark:hover{
        background-color: darkblue;
        color: white;
        }
        .blue{
        color: #0046be;
        }
        #para{
        text-align: center;
        font-size: 8px;
        border-bottom: none;
        color: black;
        }
        #scroll{
        height: 250px;
        overflow-y: scroll;
        }
        
        .h{
        display: none;
        position: absolute;
        background-color:white;
        color: #0046be;
        min-width: 360px;
        height: 210px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        
        padding: 12px 16px;
        z-index: 1;
        font-size: 12px;
        right: 0;
        left: auto;
        }
        .dropdown:hover .h{
        display: block;
        }
        .up{
        display: grid;
        grid-template-columns: repeat(4,1fr) ;
        width: 170%;
        justify-content: center;
        
        }
        
        
        #i,#t{
        margin-left: -110px;
        align-items: center;
        font-size: 8px;
        margin-top: 15px;
        
        }
        #j{
        margin-left: -150px;
        }
        
        #k{
        font-size: large;
        margin-left:140px;
        margin-top: 50px;
        }
        .l{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        justify-content: space-between;
        }
        .m{
        font-size: 15px;
        color: black;
        }
        .line,.line1{
        border-left: 1px solid #0046be;
        height: 20px;
        width: 0px;
        margin-top: 10px;
        margin-left: -30px;
        }
        #n{
        margin-left: 210px;
        }
        #down{
        display: flex;
        color: black;
        }
        #q{
        border: none;
        font-size: 8px;
        text-align: center;
        }
        #p{
        text-align: center;
        width: 50%;
        margin: auto;
        margin-top: 50px;
        }
        #r{
        box-sizing: border-box;
        width: 69%;
        margin-left: 45px;
        font-size: 8px;
        padding: 3px;
        background-color: #0046be;
        border: none;
        border-radius: 3px;
        color: white;
        }
        #r:hover{
        background-color: darkblue;
        }
        .s{
        width:40%;
        
        }
        .down-second{
        margin-top: 58px;
        
        }
        .o{
        display: grid;
        grid-template-columns:repeat(4,1fr) ;
        width: 170%;
        justify-content: center;
        }
        #t{
        margin-left: -245px;
        }
        #u{
        margin-left: -150px;
        }
        .line1{
        margin-left: -60px;
        }
        #t,.w{
        border: none;
        }
        #v{
        width: 58%;
        margin: auto;
        margin-top:40px ;
        }
        .w{
        font-size: 8px;
        width: 55%;
        margin: auto;
        margin-top: 10px;
        }
        .x{
        width: 43%;
        }

        #second{
            box-sizing: border-box;
            display: grid;
            /* justify-content: space-around; */
            font-size: .7rem;
            margin: auto;
            /* margin-left: 1%; */
            }
            #second-first{
            display: flex;
            margin: 10px;
            gap: 1%;
            font-size:1.2ch;

            }
            #b{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                display: grid;
                align-items: center;
                /* margin-left: 1rem; */
                width: 0%;
                margin-left: -60px;
                gap: 10px;
                
            }
            #c{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                cursor: pointer;
                font-size: 1rem;
            }
            #c>div{
                margin-left:2% ;
                font-weight: bold;
            }
            
            #cart_logo{
                width: 1em;
            }
            #store{
                width: 1.2em;
                
            }
            #g{
                display: grid;
                grid-template-columns: repeat(2,1fr);
                align-items: center;
                cursor: pointer;
                font-size: 1rem;
                font-weight: bold;
            }
            #g>div{
                margin-left:0% ;
            }
            #micro{
            position:absolute ;
            left: 60%;
            cursor: pointer;
            }
            #a>div{
                margin-left: -20%;
                font-size: 15px;
            }
            #a>input{
                margin-left: -40%;
                position:relative;
                height: 40%;
                width: 200%;
                border-radius: 10px;
            }
            #one{
                width: 70%;
            }
            #micro{
                position:absolute ;
                left: 64%;
                cursor: pointer;
            }
            #scroll{
                height: auto;
                overflow: hidden;
                }
                
}