*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#top-section{
    display: flex;
    padding: 10px;
    background-color: #F0F2F4;
}
#top-section>div{
    width: 49%;
}
#school-deals{
    text-align: center;
}
#school-deals>div{
    position: absolute;
    top:55%;
    line-height: 55px;
    text-align: center ;
    margin-left: 65px;
    z-index: 1;
}
#t1{
    color: white;
    font-size: 2rem;
}
#t2{
    color: white;
    font-size: 16px;
}
#t3{
    font-weight: bold;
    padding: 8px 8px;
    background-color: #FFF301;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
#t3:hover{
    background-color: yellow
}
#recommended{
    display: flex;
    gap: 1.5%;
}
#recommended>div{
    width: 23%;
    height: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align:left;
    line-height: 20px;
}
#recommended>div:hover>p{
    text-decoration: underline;
}

#recommended img{
    width: 90%;
    margin:6px 6px 0px 6px;
}
#recommended p{
    color: #0046BE;
    cursor: pointer;
    font-size: 14px;
    margin-left: 6px;
}
#deals{
    background-color: white;
    padding-left: 10px;
    
    padding-top: 10px;
}
#phase{
    display: flex;
    gap: 10px;

}
#phase>div{
    width: 50%;
    border: 1px solid snow;
    height: 350px;
    margin-top: 20px;
}
#clearance{
    background-color: white;
    padding-left: 15px;
    line-height: 70px;
}
#c1{
    background-color: #0046BE;
    color: white;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
}
#c2{
    font-size: 48px;
    width: 90%;
    margin: auto;
    font-weight: bold;
    
}
#c3{
    color: #0046BE;
}
#continue-shop{
    background-color: white;
}
#continue-shop-1{
    margin-left: 15px;
}
.cont{
    color: #0782F4;

}
.cont:hover{
    text-decoration: underline;
}
#expert{
    display: flex;
    margin-top:20px;
    justify-content: space-around;
}
#expert>div{
    display: flex;
    align-items: center;
    width: 40%;
    text-align: center;
    justify-content: center;
    border: 1px solid #646161;
    margin: 10px;
    padding: 10px;
    background-color: #F0F2F4;
    gap: 15px;
}
#mid-section{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    background-color: #F0F2F4;
    padding: 20px;
}
#mid-section>div{
    width: 50%;

}
#m1{
    position: absolute;
    top: 120%;
    font-size: 35px;
    
    z-index: 1;
    left: 19%;
}
#m2{
    position: absolute;
    top: 127%;
    
    font-size: 18px;
    font-weight: bold;
    z-index: 1;
    left: 15%;
}
#m3{
    position: absolute;
    top: 133%;
    z-index: 1;
    
    left: 4%;
    font-size: 18px;
}
#m4{
    position: absolute;
    top: 138%;
    
    z-index: 1;
    left: 19%;
}
#m5{
    position: absolute;
    top: 143%;
    z-index: 1;
    
    left: 22%;
    background-color: #0046BE;
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
#m5:hover{
    background-color: #1e3b6d;
}
#r1{
    position: absolute;
    top:123%;
    z-index: 1;
    
    font-size: 35px;
    right: 19%;
}
#r2{
    position: absolute;
    top: 129%;
    
    z-index: 1;
    right: 23.5%;
}
#r3{

    position: absolute;
    top: 135%;
    cursor: pointer;
    right: 40.8%;
    z-index: 1;
    background-color: #0046BE;
    color: white;
    font-weight: bold;
    padding: 5px 8px;
    border: none;
    border-radius: 5px;
}
#r3:hover{
    background-color: #1e3b6d;
}
#service{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    justify-content: center;
}
#service>div{
    display: flex;
    align-items: center;
    line-height: 30px;
}
#adv{
    position: relative;
}
#total{
    
    display: flex;
    gap: 10px;
    justify-content: center;
    z-index: 1;
    
    position: absolute;
    top: 217%;
    left: 40px;
    line-height: 30px;
}
#tech{
    padding-left: 10px;
    border-left: 2px solid white;
}
#btn-1{
    padding: 8px 35px;
    background-color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: #032869;
    font-weight: bold;
}
#bestbuy{
    margin-left: 240px;
}
#btn-1:hover{
    background-color: #0782F4 ;
    color: white;
    border: 1px solid white;
}
#lower-section{
    width: 98%;
    display: flex;
    gap: 20px;
    margin: 10px;
}
#lower-section>div{
    width: 31%;
    padding: 10px;
    background-color: #F0F2F4;
}
.college{
    display: grid;
    grid-template-columns: repeat(2,45% );
    gap: 15px;
    justify-content: space-evenly;
    margin-top: 15px;
    margin-bottom: 15px;
}
.head{

    margin: 20px 10px;
}
#essential{
    margin-top: 20px;
    
}
#apple-products{
    margin: 10px;
    width: 98%;
    position: absolute;
    z-index: 1;
    display: flex;
    height: 300px;
    gap: 30px;
    border: 1px solid sienna;
}
#apple-details{
    width: 25%;
    padding-left: 23px;
    margin-top: 20px;
}
#ap-1{
    font-size: 35px;
    color: white;
}
#ap-2{
    color: #FFF301;
    font-size: 17px;
}
#apple-product-display{
    display: flex;
    max-width: 65%;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#apple-product-display>div{
    width:20% ;
}
.title-1{
    color: #0046BE;
    font-size: 14px;
}
.title-1:hover{
    text-decoration: underline;
}
#features{
    width: 98%;
    margin: 10px;
    border-top: 2px solid #E8E4E4;
    /*  */
}
#features-1{
    display: grid;
    grid-template-columns: repeat(3,33%);
    justify-content: center;
    align-items: center;
    margin-top:15px ;
    line-height: 30px;
}
#features-1>div{
    padding: 10px;
    height: 400px;
}
.fe-1{
    margin-left: 10px;
    color: #0046BE;
    cursor: pointer;
}
.fe-2{
    margin-left: 10px;
    font-size: 13px;
}
.fe-1:hover{
    text-decoration: underline;
}
#features-1>div:nth-child(1){
    border-right:  1px solid #E8E4E4;
    border-bottom:  1px solid #E8E4E4;
}
#features-1>div:nth-child(2){
    border-right:  1px solid #E8E4E4;
    border-bottom:  1px solid #E8E4E4;
    border-left:  1px solid #E8E4E4;
}
#features-1>div:nth-child(3){
    border-bottom:  1px solid #E8E4E4;
    border-left:  1px solid #E8E4E4;
}
#features-1>div:nth-child(4){
    border-right:  1px solid #E8E4E4;
    border-top:  1px solid #E8E4E4;
}
#features-1>div:nth-child(5){
    border-right:  1px solid #E8E4E4;
    border-top:  1px solid #E8E4E4;
    border-left:  1px solid #E8E4E4;
}
#features-1>div:nth-child(6){
    border-left:  1px solid #E8E4E4;
    border-top:  1px solid #E8E4E4;
}
.maylike,.trending,#featured{
    width: 98%;
    margin: auto;
    margin-top:30px ;
    border-top:  2px solid #E8E4E4;
    display: flex;
    justify-content: center;
    align-items: center;
}
.boss:hover{
    text-decoration: underline;
}
#last-section{
    width: 98%;
    margin: 15px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
#last-section>div{
    width:30%;
    height: 420px;
    border:  2px solid #E8E4E4;
}
#last-section>div>.sec-1{
    color: #0046BE;
    cursor: pointer;
    margin-top: 20px;
    padding-left: 20px;
}
#last-section>div>.sec-2{
    font-size: 13px;
    margin-top: 10px;
    padding-left: 20px;
}
#last-section>div>.sec-3{
    color: #E8E4E4;
    font-size: 13px;
    margin-top: 75%;
    padding-left: 40px;
}
#school-deals img{
    width: 95%;position: relative;
}
#credit-card{
    width: 98%;
    margin: auto;
    margin-top: 10px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002783;
}
.cr-1{
    width: 20%;
}
.cr-2{
    line-height: 50px;
}
.cr-3{
    display: flex;
    width:30%;
    font-size: 16px;
    margin-left: 10px;
    color: white;
}
.cr-4{
    font-size: 13px;
    color: white;
}
#cr-btn{
    font-size: 17px;
    padding: 7px 7px;
    background-color: #FFF301;
    border-radius: 10px;
    margin-top: 10px;
    font-weight: bold;
}
#cr-btn:hover{
    background-color: #7a773c;
}
#featured>div{
    line-height: 30px;
    margin-bottom: 20px;
}
 .comp{
    height: 210px;
}
.trending>div{
    width:18% ;
}

@media all and (min-width:481px) and (max-width:1060px){
#essential{
    display:none;
}
#top-section{
    display: block;
    width: 100%;
}
#top-section-right>#deals{
    width: 200%;
}
#school-deals img{
    width: 200%;
    height: 500px;
    
}
#school-deals>div{
    top: 50%;
    left: 20%;
}
#recommended{
    padding-bottom:10px ;
}
#c2{
    font-size: 35px;
}
#mid-section{
    display: none;
}
#meme{
    display: none;
}
#lower-section{
    display: block;
    width: 300%;
}
#lower-section>div>div{
    display: flex;
}
.comp{
    height: auto;
}
.maylike{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
.trending{
    display: grid;
    grid-template-columns: repeat(4,1fr);

}
.trending>div{
    width:80% ;
}


#featured{
    display: grid;
    grid-template-columns:repeat(3,1fr);
    gap: 20px;
}
}


@media all and (min-width:320px) and (max-width:480px){
    
    #school-deals{
        display: none;
    }
    #clearance{
        line-height: 35px;
    }
    #c1{
        margin-top: 10px;
        margin-left: 20px;
        margin-bottom: 20px;
    }
    #c2{
        margin-bottom: 50px;
    }

    #phase{
        width: 200%;
        border: 1px solid;
    }

    #essential{
        display:none;
    }
    #top-section{
        display: block;
        width: 100%;
    }
    #top-section-right>#deals{
        width: 200%;
    }
    #school-deals img{
        width: 200%;
        height: 500px;
        
    }
    #school-deals>div{
        top: 50%;
        left: 20%;
    }
    #recommended{
        padding-bottom:10px ;
    }
    #c2{
        font-size: 35px;
    }
    #mid-section{
        display: none;
    }
    #meme{
        display: none;
    }
    #expert{
        display: block;
        width: 200%;
        margin-left: 20px;

    }
    #service{
        line-height: 30px;
    }
    #services h2{
        font-size: 20px;
    }
    #services p{
        font-size: 14px;
    }
    #lower-section{
        display: block;
        width: 300%;
    }
    #lower-section>div>div{
        display: flex;
    }
    .comp{
        height: auto;
    }
    .maylike{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 10px;
    }
    .trending{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin-left: 10px;
    
    }
    .trending>div{
        width:80% ;
    }
    #features-1{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    #credit-card>div{
        line-height: 30px;
    }
    
    #featured{
        display: grid;
        grid-template-columns:repeat(2,1fr);
        gap: 20px;
        margin-left: 10px;
    }
    }
    
