*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

#top-heading{
    background-color: #1D252C;
    text-align: center;
}
#top-heading h1{
    color:white;
    padding: 15px 15px 15px 25px;
    font-size: 2.5rem;
}
#category{
    border-top: 2px solid #E8E4E4;
    width:98%;
    margin: auto;
    margin-top: 0.9375rem;
    display: flex;
    justify-content: center;
    gap: 10px;
}
#category>div{
    padding: 5px;
    margin-top: 0.9375rem;
    text-align: center;
    border-radius: 8px;
}
#category>div:hover{
    border: 1px solid #0046BE;
    
}
#school-days{
    background-color: #105AD4;
    text-align: center;
    width: 98%;
    margin: auto;
    margin-top: 1.25rem;
}
.sch-1{
    padding-top: 20px;
    font-size: 2.5rem;
    color: white;
}
.sch-2{
    color: white;
    margin-top: 0.9375rem;
    margin-left: -280px;
}
#applepro{
    width: 98%;
    margin: auto;
    margin-top: 0.9375rem;
    padding-top: 0.9375rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    border-top: 2px solid #E8E4E4;
}
#applepro>div{
    padding-left: 1.25rem;
    line-height: 1.875rem;
    height:28.125rem
}
#applepro>div:nth-child(1){
    border-bottom: 1px solid #E8E4E4;
    border-right: 1px solid #E8E4E4;
}
#applepro>div:nth-child(2){
    border-bottom: 1px solid #E8E4E4;
    border-right: 1px solid #E8E4E4;
    border-left: 1px solid #E8E4E4;
}
#applepro>div:nth-child(3){
    border-bottom: 1px solid #E8E4E4;
    border-right: 1px solid #E8E4E4;
    border-left: 1px solid #E8E4E4;
}
#applepro>div:nth-child(4){
    border-bottom: 1px solid #E8E4E4;
    border-left: 1px solid #E8E4E4;
}
#applepro>div:nth-child(5){
    border-bottom: 1px solid #E8E4E4;
    border-right: 1px solid #E8E4E4;
    border-top: 1px solid #E8E4E4;
}

#applepro>div:nth-child(6){
    border-bottom: 1px solid #E8E4E4;
    border-left: 1px solid #E8E4E4;
    border-right: 1px solid #E8E4E4;
}
#applepro>div:nth-child(7){
    border-bottom: 1px solid #E8E4E4;
    border-left: 1px solid #E8E4E4;
    border-right: 1px solid #E8E4E4;
}
#applepro>div:nth-child(8){
    border-bottom: 1px solid #E8E4E4;
    border-left: 1px solid #E8E4E4;
}
#applepro>div:nth-child(9){
    border-top: 1px solid #E8E4E4;
    border-right: 1px solid #E8E4E4;
}
#applepro>div:nth-child(10){
    border-bottom: 1px solid #E8E4E4;
    border-right: 1px solid #E8E4E4;
    border-top: 1px solid #E8E4E4;
}

#applepro>div:nth-child(11){
    border-bottom: 1px solid #E8E4E4;
    border-left: 1px solid #E8E4E4;
}
#applepro>div:hover>.title-1{
    text-decoration: underline;
}

.title-1{
    color: #105AD4;
    margin-bottom: 10px;
}
.price{
    margin-top: 0.9375rem;
}
.deals{
    background-color: #F0F2F4;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    gap: 16px;
}
.deals>div{
    text-align: end;
    width: 30%;
}
.deals-1{
    margin-bottom: 10px;
}
.deals-2{
    margin-bottom: 10px;
}
.deals-3{
    padding: 8px 13px;
    background-color: #0046BE;
    color: #E8E4E4;
    border: none;
    border-radius: 10px;
}
.deals-3:hover{
    background-color: #105AD4;
}
.deals+.deals{
    margin-top: 30px;
}
#service{
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 60px;
    justify-content: center;
}
#service>div{
    display: flex;
    align-items: center;
    line-height: 30px;
}
#service>div:nth-child(2){
    border-left:2px solid #F0F2F4 ;
    border-right:2px solid #F0F2F4 ;
    padding-right: 10px;
    padding-left: 10px;
}
#info{
    border:1px solid rgb(149, 137, 137) ;
    width: 98%;
    margin: auto;
    margin-top: 30px;
}
.info-1,.info-3,.info-4{
    margin: 20px 15px;
}
#info>div:nth-child(1){
    border-bottom:1px solid rgb(149, 137, 137) ;
}
.info-2,.info-5{
    margin-left: 15px;
}

@media all and (min-width:481px) and (max-width:800px){
#category{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
#applepro{
    grid-template-columns: repeat(3,1fr);
}
#service h2{
    font-size: 20px;
}
#service p{
    font-size:14px ;
}
}

@media all and (min-width:320px) and (max-width:480px){
    
    #category{
        display: grid;
        grid-template-columns: repeat(3,1fr);
    }
    #applepro{
        grid-template-columns: repeat(2,1fr);
    }
    #service h2{
        font-size: 18px;
    }
    #service p{
        font-size:12px ;
    }
}